@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:wght@300;400;500;600;700&family=Work+Sans:wght@200;300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .background-linear-gradient {
    background: linear-gradient(
      152.19deg,
      rgba(136, 235, 239, 0.9) -0.04%,
      rgba(83, 91, 230, 0.9) 100%
    );
  }
}

body {
  background-color: #343d4b;
}

* {
  font-family: 'Montserrat', sans-serif;
}
